@import url('https://fonts.googleapis.com/css2? family= Roboto:wght@100 & display=swap');


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

main {
    width: 80%;
    margin: auto;
    background-color: #D7B520;
    border: 2px solid #ddd;
    font-size: 16px;
}

/*fejléc*/
header{
    background-color: #e7e6e6;
    border-radius: 5%;
    border: 1px solid #41709c;
    margin: 20px;
}

#lelle {
    padding: 30px;
    width: 100%;
}
/*fejléc END*/

/*menü és űrlap*/
aside {
    background-color: #5b9bd4;
    border: 1px solid #14436b;
    border-radius: 5%;
    width: 30%;
    margin: 20px;
    padding: 30px;
    float: left;
}

nav ul {
    list-style: none;
    text-align: center;
    margin: 15px;
}

nav li a{
    color: white;
    text-decoration: none;
    font-size: x-large;
    font-weight: bolder;
}

article {
    color: white;
    font-size: 16px;
}

article h2 {
    color: #494F54;
    text-align: center;
}

input {
    width: 100%;
    padding: 5px;
    margin: 10px 0 10px 0;
}

input[type=message] {
    width: 100%;
}

input[type=submit] {
    background-color: #14436b;
    width: 50%;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: auto
    cursor: pointer;
  }
/*menü és úrlap END*/

/*tartalom*/
section {
    width: 65%;
    padding: 7px;
    margin: 5px;
    float: left;
}

section p {
    background-color: #fff;
    font-size: 16px;
    padding: 10px;
}

section h1 {
    font-style: italic;
    font-size: 19px;
    padding: 20px;
}

section img {
    float: right;
    display: inline;
    width: 50%;
}

.section1 {
    background-color: #fae4d5;
    color: #7A5237;
    border: 1px solid #41709c;
    border-radius: 7%;
    margin: 5px;
    padding: 20px;
}

.section2 {
    background-color: #fff1cc;
    color: #806F40;
    border: 1px solid #41709c;
    border-radius: 7%;
    margin: 5px;
    padding: 20px;
}

.section3 {
    background-color: #deebf7;
    color: #305578;
    border: 1px solid #41709c;
    border-radius: 5%;
    margin: 5px;
    padding: 20px;
}

/*tartalom END*/

/*lábléc*/

footer {
    clear: both;
    background-color: #e7e6e6;
    border: 1px solid #41709c;
    border-radius: 7%;
    margin: 15px;
    text-align: center;
}
/*lábléc END*/