body {
    background: #4daad9;
    margin: auto;
    width: 85%;
}

header {
    background-color: white;
    text-align: center;
    padding: 20px 0;
}

header .logo {
    display: inline-block;
    vertical-align: middle;
}

header h1 {
    display: inline-block;
    font-size: 24px;
    color: #002d6d;
    margin: 0;
    vertical-align: middle;
}

header button {
    float: right;
    background: #002d6d;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

section {
    text-align: center;
    padding: 30px;
    max-width: 85%;
}

section button {
    background: #ff6a00;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin: 0 10px;
}

section button a {
    color: white;
    text-decoration: none;
}

.wrapper {
    max-width: 85%;
    margin: 0 auto;
}

